//--------------------------------------------------------------
// Site Content
//--------------------------------------------------------------
//--------------------------------------------------------------
// Posts and Pages
//--------------------------------------------------------------
// Entry Title
.entry-title {
    font-size: rem(36);
} // .entry-title
// Sticy and Comments Link
.sticky,
.comments-link {
    display: block;
} // .sticky, .comments-link
// hentry
.hentry {
    margin: 0 0 rem(24) 0;
} // .hentry
// Byline and update post date
.byline,
.updated:not(.published) {
    display: none;
} // .byline, .updated:not(.published)
// Byline for single and group
.single .byline,
.group-blog .byline {
    display: inline;
} // .single .byline, .group-blog .byline
// Page content, entry content and entry summary
.page-content,
.entry-content,
.entry-summary {
    max-width: 880px;
    margin: 0 auto;
    padding: 50px 10px; 
} // .page-content, .entry-content, .entry-summary
// Page links
.page-links {
    clear: both;
    margin: 0 0 rem(24) 0;
} // .page-links
// Tags links
.tags-links {
    margin-left: rem(24);
} // .tags-links
// Edit link
.edit-link {
    margin: 0 0 0 rem(5);
    a {
        display: inline-block;
        font-size: rem(12);
        text-transform: lowercase;
        &::before {
            content: '(';
        }
        &::after {
            content: ')';
        }
    } // a
} // .edit-link
// Asides
.blog .format-aside .entry-title,
.archive .format-aside .entry-title {
    display: none;
} // .blog .format-aside .entry-title, .archive .format-aside .entry-title
// Content blocks.
.content-block {
    @include clearfix;
} // .content-block