//--------------------------------------------------------------
// Header.
//--------------------------------------------------------------
.site-header {
    background-color: rgba(31, 63, 79, 0.5);
    display: flex;
    align-items: center;
    height: 70px;
    position: fixed;
    z-index: 9;
    width: 100%;
    top: 0;
}

// Site logo.
.site-branding {
    padding-left: 1em;
    img {
        max-width: 225px;
        height: auto;
    }
    @include span-columns(10);
    @include media($tablet-portrait) {
        @include span-columns(11);
    }
    @include media($tablet-landscape) {
        @include span-columns(5);
    }
    // Don't let the logo get out of control.
    img {
        @include media(min-width $tablet-portrait max-width $tablet-landscape) {
            float: left;
            width: 50%;
        }
    } // img
} // .site-branding
//-----------------------------------------
// Site Title.
//-----------------------------------------
.site-title {
    font-size: rem(48);
    // Align next to the logo on mid-size screens.
    @include media(min-width $tablet-portrait max-width $tablet-landscape) {
        float: left;
        margin: 0;
        padding: 0 rem(12);
        width: 50%;
    }
} // .site-title
//-----------------------------------------
// Site Description.
//-----------------------------------------
.site-description {
    font-size: rem(24);
    margin: 0 0 rem(24) 0;
    @include media(min-width $tablet-portrait max-width $tablet-landscape) {
        clear: both;
    }
} // .site-description
//-----------------------------------------
// Header action container — Form Dropdown.
//-----------------------------------------
.site-header-action {
    @include span-columns(12);
    @include media($tablet-portrait) {
        @include span-columns(5);
    }
    @include media($tablet-landscape) {
        @include span-columns(4);
        float: right;
        margin-right: 0;
    }
    @include media($desktop) {
        @include span-columns(3);
        float: right;
        margin-right: 0;
    }
    @include media($desktop-large) {
        @include span-columns(2);
        float: right;
        margin-right: 0;
    }
} // .site-header-action
//-----------------------------------------
// Site header action cta buttons.
//-----------------------------------------
.site-header-action {
    // Span the button the full width.
    .button-link,
    .cta-button {
        color: $color-white;
        display: block;
        text-align: center;
        text-decoration: none;
        width: 100%;
    } // .button-link, .cta-button
} // .site-header-action
//-----------------------------------------
// Site header Action Searchform.
//-----------------------------------------
.site-header-action {
    .search-form {
        opacity: 0;
        transition: $transition-opacity;
        visibility: hidden;
        // If the body class is there, show the form.
        .search-form-visible & {
            display: block;
            opacity: 1;
            transition: $transition-opacity;
            visibility: visible;
        } // .search-form-visible &
    } // .search-form
} // .site-header-action
//-----------------------------------------
// Main Navigation Container.
//-----------------------------------------
.main-navigation {
    @include span-columns(12);
} // .main-navigation
.hero {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background: #f4fbfe;
    h1 {
        font-size: 33px;
        color: #286888;
        text-align: center;
    }
}
