.image-left {
    @include span-columns(12);
    @include outer-container();
    display: flex;
    margin-bottom: 50px;
    flex-direction: column;
    .left-image {
        img {
            display: block;
            margin: 20px auto;
        }
    }
    @include media($tablet-portrait) {
        flex-direction: row;
        align-items: center;
        .left-image {
            @include span-columns(2);
            padding-right: 10px;
        }
        .right-text {
            @include span-columns(10);
        }
    }
}
