.two-buttons {
    @include span-columns(12);
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin-bottom: 50px;
    @include media($tablet-portrait) {
        flex-direction: row;
    }
    .button {
        text-decoration: none;
        display: block;
        width: 90%;
        padding: 20px 0;
        text-align: center;
        margin-bottom: 1em;
        @include media($tablet-portrait) {
            width: 45%;

        }
        &.green {
            background: #b0c79a;
            &:hover {
                color: #fff;
                background: darken(#b0c79a, 10%);
            }
        }
        &.blue {
            background: #829ba9;
            &:hover {
                color: #fff;
                background: darken(#829ba9, 10%); 
            }
        }
    }
}
