.left-half, .right-half {
    @include span-columns(12);
        text-align: center;
        img {
            display: block;
            margin: 0 auto;
        }
    @include media($tablet-portrait) {
        @include span-columns(6);
        margin-bottom: 50px;
        p {
            padding: 0 10px;
        }
    }
}
