.accolades {
    margin-bottom: 50px;
    .accolades-slider {
        max-width: 300px;
        @include media($tablet-portrait) {
            max-width: 500px;
        }
        margin: 30px auto;
        img {
        }
    }
}

.slick-prev:before, .slick-next:before {
    color: #333!important;
}
 
.page h2 {
    text-align: center;
}
