.faqs {
    .accordion {
        border-radius: 15px;
        margin: 15px 0;
        box-shadow: 0 0 4px 0 rgba(155, 155, 155, 0.5);
        background: #fff;
        .trigger {
            font-weight: 800;
            height: 50px;
            display: flex;
            align-items: center;
            margin-left: 35px;
            &:before {
                content: "";
                width: 0; 
                height: 0; 
                border-top: 7.5px solid transparent;
                border-bottom: 7.5px solid transparent;
                border-left: 10px solid #333;
                position: relative;
                left: -10px;
                transition: all .5s ease;
            }
            &.active:before {
                -webkit-transform:rotate(90deg);
            }
        }
        .body {
            display: none;
            margin: 0 25px;
            padding-bottom: 30px;
        }
    }
}
