.block-video-grid {
    .videos {
        .video {
            h3 {
                text-align: center;
                margin-top: 20px;
            }
            @include span-columns(12);
            @include media($tablet-portrait) {
                @include span-columns(6 of 12);
                @include omega(2n);
            }

        }
    }
}
