.page-template-page-contact {
    .gform_wrapper {
        form {
            input, textarea {
                background: #6a8493;
                color: white;
                border: none;
                padding: .5em 1em !important;
                &::placeholder {
                    color: white;
                }
            }
            .gform_footer {
                display: flex;
                justify-content: center;
                input[type="submit"] {
                    background: $color-green;
                    box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.34);
                    padding: 15px 70px!important;
                    &:hover {
                        background: darken($color-green, 10%);
                    }
                }
            }
        }
    }
    .hentry {
        background: $color-blue;
        h2 {
            color: #fff;
        }
    }

}