video::-webkit-media-controls {
	display: none !important;
}
//--------------------------------------------------------------
// Homepage Template
//--------------------------------------------------------------
.home {
	/* This used to work for the parent element of button divs */
	/* But it does not work with newer browsers, the below doesn't hide the play button parent div */

	*::-webkit-media-controls-panel {
		display: none !important;
		-webkit-appearance: none;
	}

	/* Old shadow dom for play button */

	*::-webkit-media-controls-play-button {
		display: none !important;
		-webkit-appearance: none;
	}

	video {
		pointer-events: none;
	}
	/* New shadow dom for play button */

	/* This one works! */

	*::-webkit-media-controls-start-playback-button {
		display: none !important;
		-webkit-appearance: none;
	}
	video::-webkit-media-controls {
		opacity: 0;
	}

	.section {
		padding: 20px;
		background-size: cover !important;
	}
	.section,
	.fp-tableCell {
		display: flex;
		flex-direction: column;
		align-items: center;
		align-content: center;
		justify-content: center;
	}
	.button {
		background: $color-orange;
		color: #fff;
		box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.34);
		padding: 24px 70px;
		margin-top: 1em;
		text-decoration: none;
		&:hover {
			background: darken($color-orange, 10%);
		}
	}
	.section {
		&.intro {
			min-height: 400px;
			background-size: cover !important;
			#myVideo {
				position: absolute;
				right: 0;
				bottom: 0;
				top: 0;
				right: 0;
				width: 100%;
				height: 100%;
				background-size: 100% 100%;
				background-color: black;
				background-position: center center;
				background-size: contain;
				object-fit: cover;
				z-index: 3;
			}
			.down-arrow {
				display: none;
				@include media($tablet-portrait) {
					display: block;
					z-index: 55;
					position: absolute;
					bottom: 10%;
				}
			}
			/* Hiding video controls 
		* See: https://css-tricks.com/custom-controls-in-html5-video-full-screen/
		* --------------------------------------- */
			video::-webkit-media-controls {
				display: none !important;
			}

			*::-webkit-media-controls-panel {
				display: none !important;
				-webkit-appearance: none;
			}
			.layer {
				z-index: 4;
				display: flex;
				flex-direction: column;
			}
		}
		&.form {
			h2 {
				color: white;
			}
			.gform_wrapper {
				form {
					input,
					textarea {
						background: #6a8493;
						color: white;
						border: none;
						padding: 0.5em 1em !important;
						&::placeholder {
							color: white;
						}
					}
					.gform_footer {
						display: flex;
						justify-content: center;
						input[type="submit"] {
							background: $color-green;
							box-shadow: 0 5px 10px 0 rgba(0, 0, 0, 0.34);
							padding: 15px 70px !important;
							&:hover {
								background: darken($color-green, 10%);
							}
						}
					}
				}
			}
		}
		&.pricing {
			.wrap {
				@include outer-container();
				width: 100%;
				max-width: 800px;
			}
			.pricing-table {
				display: flex;
				align-items: center;
				flex-direction: column;
				@include media($tablet-portrait) {
					flex-direction: row;
				}

				.column-third {
					padding: 50px 25px 0 25px;
					border-radius: 10px;
					color: white;
					text-align: center;
					margin-bottom: 60px;
					@include span-columns(12);
					@include media($tablet-portrait) {
						@include span-columns(4);
					}
					&:nth-child(1) {
						background: #b0c79a;
						.button {
							color: #b0c79a;
							&:hover {
								background: #b0c79a;
								color: white;
							}
						}
					}
					&:nth-child(2) {
						background: #829ba9;
						.button {
							color: #829ba9;
							&:hover {
								background: #829ba9;
								color: white;
							}
						}
					}
					&:nth-child(3) {
						background: #f4a348;
						.button {
							color: #f4a348;
							&:hover {
								background: #f4a348;
								color: white;
							}
						}
					}
					h3 {
						font-weight: 600;
						font-size: 2em;
						text-shadow: 2px 2px 5px rgba(0, 0, 0, 0.5);
					}
					.button {
						background: white;
						width: 80%;
						display: block;
						padding: 20px 10px;
						margin: 0 auto;
						position: relative;
						bottom: -30px;
					}
					.price {
						font-size: 1.5em;
						border-top: 3px solid white;
						padding-top: 15px;
					}
				}
			}
		}
		&.testimonials {
			.wrap {
				max-width: 1200px;
				width: 90%;
				margin: 0 auto;
			}
			.slick-next:before,
			.slick-prev:before {
				color: #fff !important;
				font-size: 40px;
			}
			.slick-prev,
			.slick-next {
				height: 40px;
				width: 40px;
			}

			.slick-prev {
				left: -40px;
			}
			.testimonial {
				& > img {
					display: block;
					margin: 0 auto;
				}
				//@include span-columns(12);
				p {
					margin-bottom: 0;
				}
				padding: 0 20px;
				margin-bottom: 0px;
				margin-left: 20px;
				margin-right: 20px;
				@include media($tablet-portrait) {
					//@include span-columns(4);
					padding: 0;
				}
				.quote {
					padding: 20px;
					border-radius: 10px;
					background: white;
					box-shadow: 0 0 9px 0 rgba(0, 0, 0, 0.15),
						0 7px 8px 0 rgba(0, 0, 0, 0.28);
					margin-top: 3em;
					p {
						font-size: 14px;
						line-height: 1.3;
					}

					&:before {
						content: "";
						position: relative;
						top: -35px;
						bottom: auto;
						left: 50%;
						margin-left: -15px;
						border-width: 0 15px 15px;
						border-color: white transparent;
						display: block;
						width: 0;
						border-style: solid;
					}
				}
			}
		}
		&.favorites {
			.videos {
				margin-top: 1em;
				@include outer-container();
				width: 100%;
				.video {
					margin-top: 0.5em;
					@include span-columns(12);
					display: flex;
					flex-direction: column;
					align-items: center;
					@include media($tablet-portrait) {
						@include span-columns(4);
						@include omega(3n);
					}
				}
			}
			.button-group {
				display: flex;
				flex-direction: column;
				@include media($tablet-portrait) {
					flex-direction: row;
				}
				a {
					width: 300px;
					text-align: center;
					@include media($tablet-portrait) {
						width: initial;
					}
				}

				a.blue {
					background: $color-blue;
					&:hover {
						background: darken($color-blue, 10%);
					}
				}
				a.green {
					background: $color-green;
					@include media($tablet-portrait) {
						margin-right: 1.5em;
					}
					&:hover {
						background: darken($color-green, 10%);
					}
				}
			}
		}
	}
}
