.page-template-portfolio, .envira-template-default, .envira_album-template-default {
	margin: 0!important;
    .hentry {
        @include span-columns(12);
        @include media($tablet-portrait) {
            @include span-columns(8);
        }
    }
    .secondary {
        text-align: center;
        @include span-columns(12);
        @include media($tablet-portrait) {
            @include span-columns(4);
        }
        padding-top: 50px;
        #menu-portfolio {
           display:flex;
            flex-direction: column;
            align-items: stretch;
            max-width: 80%;
            margin: 0 auto;
        }
        li {
            background: #b0c79a;
            padding: 10px;
            margin-bottom: 5px;
            border-radius: 10px;
            margin-bottom: 10px;
            transition: all .35s ease;
            &:hover {
                background: darken(#b0c79a, 10%);
            }
            &.current-menu-item {
                background: darken(#b0c79a, 10%);
                a {
                    font-weight: 800;
                }
            }
            a {
                display: inline-block;
                text-align: center; 
                color: #fff;
                @include media($tablet-portrait) {
                    text-align: left;
                }

            }
        }
        h2 {
            font-size: 1.2em;
        }
    }
    .row {
        @include outer-container(); 
    }
}
