//--------------------------------------------------------------
// Typography
//--------------------------------------------------------------

button,
input,
select,
textarea {
	color: $color-text-main;
	font-family: $font-sans;
	line-height: $line-height-body;
	letter-spacing: 1px!important;
} // body, button, input, select, textarea
body {
	font-family: $font-serif;
	color: #333;
	letter-spacing: .5px;
	background: rgba(159, 200, 222, .25);
	margin: 0;
}
button,
.button {
	text-transform: uppercase;
	letter-spacing: 1px!important;
	font-weight: 300;
    transition: all .5s cubic-bezier(0.35, 0, 0.68, 1.13);
}

//--------------------------------------------------------------
// Headers
//--------------------------------------------------------------

// Global Header Resets.
@for $i from 1 through 6 {
	h#{$i} {
		margin-top: 0;
		font-family: $font-sans;
		font-weight: 300;
		text-transform: uppercase;
	} // h#{$i}
} // end @for
@for $i from 3 through 6 {
	h#{$i} {
		letter-spacing: normal!important;
	} // h#{$i}
}
h1,
.h1 {
	letter-spacing: 2px!important;
} // h1, .h1

h2,
.h2 {
	letter-spacing: 2px!important;
} // h2, .h2
h3,
.h3 {

} // h3, .h3

h4,
.h4 {

} // h4, .h4

h5,
.h5 {

}  // h5, .h5

h6,
.h6 {

} // h6, .h6

//--------------------------------------------------------------
// Copy
//--------------------------------------------------------------

p {
	margin: 0 0 rem(24) 0;
    line-height: 1.5;
    font-size: 18px;
} // p

b,
strong {
	font-weight: 700;
} // b, strong

dfn,
cite,
em,
i {
	font-style: italic;
} // dfn, cite, em, i

blockquote,
q {
	padding: rem(24);
    border-left: 5px solid #96b579;
        background: url('assets/images/svg/quote-right.svg') top right no-repeat;

	&::before, {
        content: '';
	}  // &::before, &::after
} // blockquote, q

address {
	margin: 0 0 rem(24) 0;
} // address

pre {
	background-color: $color-gallery;
	color: $color-cod-gray;
	font-family: $font-pre;
	font-size: rem(13);
	line-height: $line-height-pre;
	margin: 0 0 rem(24) rem(-24);
	overflow: auto;
	padding: rem(24);
	white-space: pre;
	word-break: normal;
	word-wrap: normal;
} // pre

code,
kbd,
tt,
var {
	font-family: $font-code;
	font-size: rem(15);
} // code, kbd, tt, var

abbr,
acronym {
	border-bottom: 1px dotted $color-border-abbr;
	cursor: help;
} // abbr, acronym

mark,
ins {
	text-decoration: none;
} // mark, ins

sup,
sub {
	font-size: 75%;
	height: 0;
	line-height: 0;
	position: relative;
	vertical-align: baseline;
} // sup, sub

sup {
	bottom: 1ex;
} // sup

sub {
	top: 0.5ex;
} // sub

small {
	font-size: 75%;
} // small

big {
	font-size: 125%;
} // big

// Word Wrapping
.entry-title,
.entry-content,
.comments-title,
.comment-content,
.widget-title,
.widget {
	@include word-break;
} // .entry-title, .entry-content, .comments-title, .comment-content, .widget-title, .widget
