//--------------------------------------------------------------
//   COLORS
//    - Primary palette
//    - Grayscale
//    - Social Media Colors
//       - $social-colors() map
//
//   ELEMENTS & SKINNING
//     - General
//     - Accessibility
//     - Links
//-------------------------------------------------------------
////
/// @group variables
/// @author WebDevStudios
////
// Primary palette
$color-blue: #829ba9;
$color-dark-blue: #286888;
$color-light-yellow: #fff9c0;
$color-black: #000;
$color-white: #fff;
$color-orange: #f4a348;
$color-green: #b0c79a;
// Grayscale
$color-gray: #808080;
$color-cod-gray: #111;
$color-mineshaft: #333;
$color-tundora: #454545;
$color-dove-gray: #666;
$color-gray-alt: #929292;
$color-silver-chalice: #aaa;
$color-silver: #ccc;
$color-alto: #ddd;
$color-gallery: #eee;
$color-whitesmoke: #f1f1f1;
/// Sass map used for creating color presentational classes.
$theme-colors: ( blue: #21759b, light-yellow: #fff9c0, black: #000, white: #fff, gray: #808080, cod-gray: #111, mineshaft: #333, dove-gray: #666, gray-alt: #929292, silver-chalice: #aaa, silver: #ccc, alto: #ddd, gallery: #eee, whitesmoke: #f1f1f1, );
// Social Media Colors
$color-facebook: #3b5998;
$color-googleplus: #dd4b39;
$color-instagram: #517fa4;
$color-linkedin: #007bb6;
$color-pinterest: #cb2027;
$color-rss: #f90;
$color-twitter: #00aced;
$color-youtube: #b00;
/// Social media `$social-colors()` map
$social-colors: ( facebook: $color-facebook, facebook-square: $color-facebook, googleplus: $color-googleplus, googleplus-square: $color-googleplus, instagram: $color-instagram, instagram-square: $color-instagram, linkedin: $color-linkedin, linkedin-square: $color-linkedin, pinterest: $color-pinterest, pinterest-square: $color-pinterest, rss: $color-rss, rss-square: $color-rss, twitter: $color-twitter, twitter-square: $color-twitter, youtube: $color-youtube, youtube-square: $color-youtube, );
// ELEMENTS & SKINNING
// General
$color-background-body: $color-white;
$color-text-main: $color-cod-gray;
$color-background-hr: $color-silver;
$color-border-abbr: $color-dove-gray;
// Accessibility
$color-background-screen-reader: $color-whitesmoke;
$color-text-screen-reader: $color-blue;
// Links
$color-link: $color-orange;
$color-link-visited: $color-orange;
$color-link-hover: $color-orange;